<strong> Olá, {{ student }}</strong>
<p>Você foi matriculado na Gympoint, confira os detalhes do seu plano abaixo:</p>
<p>
  <strong>Plano:</strong> {{ plan }} <br />
  <strong>Data de término:</strong> {{ end_date }} <br />
  <strong>Valor total:</strong> {{ price }} <br />
  <br />
  <small>
    Seja Bem vindo a Gympoint, estamos muito felizes em ter você como nosso aluno.
    Aproveite todos os nossos serviços e boa saúde!
  </small>
</p>
